<html>
<head>
<title>Analyser</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="/static/js/jquery-1.12.2.min.js" />
<script src="/static/js/bootstrap.js" />
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">

		<div class="row" style="margin: 5px">
			<div class="row" style="margin-bottom: 10px;">
				<div id="header-login"
					style="float: left; padding-top: 2px; border-style: transparent solid transparent transparent;"
					class="row">
					<div class="row">
					    <td th:text="#{msgs.headers.title_0}">Analyser</td>
						<a th:href="@{/login}"> Login</a> 
						<a th:href="@{/registration}">Registration</a> 
						<a th:href="@{/addAdvertisement}"> Add advertisement</a>
					</div>

				</div>
				<div class="row" id="header-sorting"
					style="float: right; padding-top: 2px; border-style: transparent solid transparent transparent;">
					<a th:href="@{/sortingByPrice}"> cheapest</a> 
					<a th:href="@{/sortingByDate}"> newest</a>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-hover">


						<tr th:each="analysis : ${analysiss}" style="border-style:solid transparent transparent transparent">
						    <tr style="border-style:transparent">
							<td rowspan="3" ><a
								th:href="@{/analysis/details(fid=${analysis.fileId})}"> <img
									th:src="@{/files/}+${analysis.imagePath}"
									th:href="@{/analysis/details(fid=${analysis.fileId})}"
									width="120" height="120"> </img>
							</a>
							</td>
							<td th:text="${analysis.stringValue1}"></td></tr>
							<tr style="border-style:hidden"><td th:text="${analysis.currentPrice}"></td></tr>
							<tr style="border-style:hidden"><td th:text="${analysis.insertDate}"></td></tr>
						</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
