<html>  
<head>  
    <title>Analyser</title>
      <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
   <script src="/static/js/jquery-1.12.2.min.js" />
<script src="/static/js/bootstrap.js" />
<link rel="stylesheet"
	href="/static/css/bootstrap.min.css" />
   
</head>
<body>  
<div class="container-fluid">
 
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;font-size:20px"><div style="height:50px;color:lavenderblush"><div style="color:red;float:left">Analyser</div><div style="float:right"><a th:href="@{/analyst/overview/index}"> All advertisement</a></div></div></div>
    <div class="col-sm-4" style="background-color:lavenderblush;font-size:20px"><div style="height:50px"><a th:href="@{/addAdvertisement}"> Add advertisement</a></div></div>
    <div class="col-sm-4" style="background-color:lavender;font-size:20px"><div style="height:50px"><div style="width:50%;float:left"><a th:href="@{/login}"> Login</a></div><div  style="width:50%;float:right"><a th:href="@{/registration}"> Registration</a></div></div></div>
  </div>
</div>


</body>  
</html>  